@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center" style="height: 300px;">
    <div>
        <h1 class="display-4">Benvenuto in PizzaAPP! 🍕🍕🍕</h1>
        <h3>Esplora i nostri prodotti...</h3>
    </div>
</div>
